.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    /*text-transform: uppercase;*/
    padding-bottom: 15px;
    z-index: 100;
    font-size: 5vw;
    background-color: rgb(39, 13, 185);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width:1000px) {
    .header {
        padding-top: 15px;
        font-size: 6.4vw;
    }
}
